<% const d=new Date(); let year=d.getFullYear() %>

    <footer id="site-footer">
        <p>&copy; 2025 CSE Motors.
            [cite_start][cite: 21] All rights reserved.</p>
        <p>All images used are for illustrative purposes.</p>
        <p><a href="/test/error" title="trigger a 500 error">Error test</a></p>
        <p class="mt-4">
            <a href="/test/error" title="Trigger a 500 server error" class="text-red-600 hover:text-red-800 underline">
                Intentional 500 Error
            </a>
        </p>
    </footer>